div[data-amplify-authenticator][data-variation="default"] {
  height: calc(100vh);
  div[data-amplify-router] {
    background-color: transparent;
    border: none;
  }
  .amplify-tabs {
    
    .amplify-tabs__list {
      background-color: var(--amplify-components-authenticator-router-background-color);
      border-top: 1px solid black;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      .amplify-tabs__item {
        color: gray;
        opacity: 0.8;
        border-bottom: 1px solid hsl(210, 10%, 58%, 0.5);
        
        &.amplify-tabs__item--active {
          color: black !important;
          opacity: 1;
        border-bottom: 1px solid hsl(210, 10%, 58%);
        }
      }

      &.amplify-tabs__list--top {
        --internal-item-border-width: 0px !important;
      }
      #signIn-tab,
      #signUp-tab {
      }
    }
    .amplify-tabs__panel {
      background-color: var(--amplify-components-authenticator-router-background-color);
      padding-block: 0px !important;
      border-bottom: 1px solid black;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .amplify-button--link {
      --amplify-internal-button-color: black !important;
    }
  }
  button[type="submit"],
  .amplify-button--primary {
    --amplify-internal-button-background-color: black !important;
    background-color: black !important;
  }

  .amplify-button {
    &:hover {
      background-color: $gray_hovered;
    }
  }
}
