.sidebar {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  grid-area: sidebar;
  z-index: 1000;

  &--top,
  &--bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }

  &--top {
    &__navs {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 12px;
    }

    &__menus {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      .menu {
        width: 36px;
        height: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_text {
          font-size: 10px;
        }
        &_icon {
          border-radius: 10px;
          transition: 0.25s ease;

          .icon {
            transition: 0.25s ease;
          }
          &:hover {
            background-color: rgba(248, 248, 248, 0.25);
            .icon {
              transform: scale(1.15);
            }
          }
        }

        &.active {
          .menu_icon {
            background-color: rgba(248, 248, 248, 0.25);
            .icon {
              transform: scale(1.15);
            }
          }
        }
      }
    }

    .btn {
      transition: 0.25s ease;
      &:hover {
        transform: scale(1.15);
      }
    }

    &__avatar {
      width: 36px;
      height: 36px;
      background: rgba(248, 248, 248, 0.25);
    }
  }

  &--bot {
    padding-bottom: 5px;

    #create-popover__trigger {
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(248, 248, 248, 0.25);
      border-radius: 18px;
      width: 36px;
      height: 36px;
      transition: 0.15s ease;

      .icon-wrapper {
        transition: transform 0.2s ease-in-out;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        color: white;
      }

      &.active {
        .icon-wrapper {
          transform: rotate(45deg);
        }
      }
    }

    #user-popover__trigger {
      width: 36px;
      height: 36px;
    }

    &__avatar {
      width: 36px;
      height: 36px;
    }
  }
}

#create-popover {
  background-color: #1a1d21;
  border: 1px solid rgba(121, 124, 129, 0.3019607843);
  z-index: 1000;
  position: relative;
  button {
    &:hover {
      background-color: $gray_hovered;
    }
  }
  .cta {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    &.chat {
      background-color: rgb(67, 19, 73);
    }

    &.room {
      background-color: rgb(6, 50, 37);
    }
    &.user {
      background-color: rgb(3, 49, 58);
    }
  }
}

#user-popover {
  background-color: #1a1d21;
  border: 1px solid rgba(121, 124, 129, 0.3019607843);
  z-index: 1000;
  position: relative;
  a,
  .signout {
    &:hover {
      background-color: $gray_hovered;
    }
  }
}
