.top {
  height: 40px;
  padding-right: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__cta {
    border-radius: 4px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    transition: 0.25s ease;

    position: absolute;
    right: 0.5%;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      background: $gray_hovered;
    }
  }
}
