.modal {
  > button {
    color: white;
  }
}

#md_create-room {
  z-index: 1000;
  background-color: #1a1d21;
  border: 1px solid rgba(121, 124, 129, 0.3019607843);
  #md_create-room-form {
    .input {
      background-color: #1a1d21;
      border: 1px solid rgba(121, 124, 129, 0.3019607843);
      color: $white;
      .cmd_input {
        &:focus {
          outline: none;
          box-shadow: none !important;
        }
      }
      .cmd_item-wrapper {
        &:hover {
          background-color: $gray_hovered;
        }
        &[aria-selected="true"] {
          background-color: $gray_hovered;
        }
      }
      .cmd_item {
        color: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

#md_add-user-room {
  z-index: 1000;
  background-color: #1a1d21;
  border: 1px solid rgba(121, 124, 129, 0.3019607843);

  &__modal {
    z-index: 1001;
    background-color: #1a1d21;
    border: 1px solid rgba(121, 124, 129, 0.3019607843);

    .cta {
      background-color: $gray_hovered;
    }
  }

  .btn {
    border: 1px solid rgba(121, 124, 129, 0.3019607843);
    &:hover {
      background-color: $gray_hovered;
    }
  }

  .input {
    background-color: transparent;
    border: 1px solid rgba(121, 124, 129, 0.3019607843);
  }

  .list {
    .content {
      transition: 0.3s ease;
      &:hover {
        background-color: $gray_hovered;
      }

      .add {
        border: none;
        background-color: rgb(67, 19, 73);
      }
    }
  }
}

#link_modal {
  background-color: #1a1d21;
  border: none;
  svg {
    color: $white;
  }
  label {
    color: $white;
  }
  .link_modal--input {
    background-color: transparent;
    border: 1px solid rgba(121, 124, 129, 0.3019607843);
    color: $white;
  }

  .cta {
    border: 1px solid rgba(121, 124, 129, 0.3019607843);
    color: $white;
    transition: 0.3s ease;
    &.cta_cancel {
      &:hover {
        background-color: $gray_hovered;
      }
    }
    &.cta_add {
      background-color: rgba(0, 122, 90, 0.8);

      &:hover {
        background-color: rgba(0, 122, 90, 1);
      }
      &.disabled {
        background-color: $gray_hovered;
        cursor: none;
      }
    }
  }
}

#emoji_modal {
  opacity: 0;
  visibility: hidden;

  position: absolute !important;
  right: 0;
  top: 0;
  transform: translate(102%, -50%);
  height: 300px;
  overflow: hidden;
  z-index: 1000;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

#upload_modal {
  background-color: #1a1d21;
  border: none;
  svg {
    color: $white;
  }
}

#image_zoom {
  height: 80vh;
  width: 80vw;
  max-width: 100vw;
  background-color: #1a1d21;
  border: none;
  outline: none;
  &-img {
    transition: 0.3s ease;
    &.active {
      transform: scale(2);
    }
  }
  > button {
    display: none;
  }

  .image_zoom-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    transition: 0.5s ease;
    transform: translateY(-100%);
  }

  .image_zoom-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    transition: 0.5s ease;
    transform: translateY(100%);

    .slider {
      > span {
        &.bg-secondary {
          background-color: black !important;
        }
      }
      span[role="slider"] {
        border-width: 4px !important;
      }
    }
  }

  &.active {
    .image_zoom-header,
    .image_zoom-footer {
      transform: translateY(0);
    }
  }
}
